<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config DOCALPHA
-->

 
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    </configSections>
  <log4net>
    <appender name="pinpad" type="log4net.Appender.RollingFileAppender">
      <file value="C:\log\PinPADService\"/>
      <encoding value="utf-8"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="5MB"/>
      <staticLogFileName value="false"/>
      <datePattern value="yyyyMMdd'.log'"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %type.%method - %message%n"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <!-- If the following line is not included the log file 
      will not be created even if log4net is configured with this file. -->
      <appender-ref ref="pinpad"/>
    </root>
  </log4net>
  
  
  
  <appSettings>
	
	<add key="BASISConString_ivr" value="data source =Test19C;Persist Security Info=False;user id=banksys; password=banksys"/>
    <add key="BASISConString_eone" value="data source =10.0.6.220:1521/banks.world4;Persist Security Info=False;user id=midwareusr; password=midwareusr"/>
    <add key="e_oneConnString" value="Provider=SQLOLEDB;Data Source=10.81.2.17;Persist Security Info=True;User ID=sa;Password=sapassword;Initial Catalog=e_one"/>
    <add key="tokenConnString" value="Provider=SQLOLEDB;Data Source=10.81.2.17;Persist Security Info=True;User ID=sa;Password=sapassword;Initial Catalog=e_one"/>
    <add key="gapssortcode" value="User ID=sa;Password=gtbanksql20081234;data source=10.1.0.78;database=gaps"/>
    <!--<add key="PinPadCon" value="User ID=sa;Password=sapassword;data source=10.81.2.17;database=PinPad"/>-->
	<add key="PinPadCon" value="User ID=sa;Password=sapassword;data source=10.0.6.164;database=PinPad"/>
    <add key="BankCardCon" value="User ID=sa;Password=sapassword;data source=10.81.2.17;database=BankCardnew"/>
    <add key="EoneCon" value="User ID=sa;Password=sapassword;data source=10.81.2.17;database=e_one"/>
    <add key="ConnectStrPowerCard" value="User ID=sofiat;Password=SOFIAT;data source=pcard.world"/>
    <add key="ApplicationID" value="26"/>
    <add key="WithdrawalCharges" value="100.00"/>
    <add key="WithdrawalLimit" value="0.00"/>
    <add key="DepositLimit" value="0.0"/>
    <!--For ITS  can be improved to allow them hit basis directly. otherwise it shld be zero for approval-->
    <add key="OpsHeadRoleId" value="2"/>
    <add key="AdminRoleId" value="5"/>
    <add key="TellerRoleId" value="14"/>
    <add key="DepositITRoleId" value="487"/>
    <add key="WithdrwalExpl_Code" value="641"/>
    <add key="DepositExpl_Code" value="642"/>
    <add key="BasisIP" value="10.0.1.153"/>
    <add key="BasisPort" value="1521"/>
    <add key="WithdrawalChargesAccount" value="/1/1/8799/0"/>
    <!--The teller branch code will be added when the value is retrieved-->
    <add key="PinPadDepositLimit" value="1000000000000.00"/>
    <add key="PinPadWithdrawalLimit" value="1000000000000.00"/>
    <add key="PinPadThirdCurWithdrawalLimit" value="4000.00"/>
    <add key="WithdrawalChargesVATAccount" value="/1/1/4522/0"/>
    <add key="PinPadNairaDepositAuthLimit" value="500000.00"/>
    <add key="PinPadNairaWithdrawalAuthLimit" value="250000.00"/>
    <add key="PinPadThirdCurDepositAuthLimit" value="4000.00"/>
    <add key="PinPadThirdCurWithdrawalAuthLimit" value="1000.00"/>
    <add key="PinPadCummulativeWithdrawal" value="100000000000.00"/>
    <add key="PinPadAllowedLedgers" value="1,2,6,26,59,82,65,67,13"/>
    <add key="HostType" value="0"/>
    <!--0 for postillion  1 for powercard-->
    <add key="AppCurrentVersion" value="1.8.0.0"/>
    <add key="NEFTAccount" value="205/10/1/4617/1"/>
    <add key="NEFTCommissionAccount" value="/10/1/8761/0"/>
    <add key="NEFTExpl_code" value="640"/>
    <add key="NEFTExtraChargeExpl_code" value="102"/>
    <add key="NEFTExtraCharge" value="205/139876/1/1/0"/>
    <add key="NEFTExtraChargePercent" value="0.25"/>
    <add key="PowerCarBIN" value="5399831699999,5399830222222"/>
    <add key="CashlessWithdrawalLimit" value="500000.00"/>
    <add key="CashlessDepositLimit" value="500000.00"/>
    <add key="CashlessWithdrawalRate" value="0.03"/>
    <add key="CashlessDepositRate" value="0.02"/>
    <add key="CashlessChargeAccount" value="/1/1/8747/0"/>
    <add key="WithdrawalActive" value="true"/>
    <add key="DepositActive" value="true"/>
    <add key="ThirdPartyActive" value="false"/>
    <add key="Level1TransactionLimit" value="999999999999"/>
    <add key="Level2TransactionLimit" value="999999999999"/>
    <add key="Level1BalanceLimit" value="999999999999"/>
    <add key="Level2BalanceLimit" value="999999999999"/>
    <add key="CardLessAllowed" value="1"/>
    <!--0 for NOT Allowed  1 for allowed-->
    <add key="PowerCarBIN" value="53998304,50610310"/>
    <add key="ConnectStrPowerCard" value="User ID=powercard;Password=Test1Kin;data source=pcard.world"/>
    <add key="CardLessAllowed" value="1"/>
    <add key="GTConnectSenderEmail" value="gtconnect@gtbank.com"/>
    <add key="EmailPort" value="25"/>
    <add key="TwigWebsrviceUrl" value="http://10.0.6.181/TWIGPINp/service.asmx"/>

	<add key="exadata" value="Data Source=dwdrscan.gtbank.com:1521/odidb;User ID=odi_stg;Password=stgdb345;Unicode=True"/>
    <!--added new parameters for deployment-->
	<add key="BasisCon" value="User ID=banksys;Password=banksys;data source=10.0.6.220:1521/banks.world4;"/>
    <add key="UseAccessManager" value="True"/>
    <add key="Ldap" value="gtbank.com"/>
    <add key="ChannelCode" value="PS"/>
    <add key="DOCALPHA" value="PPAD"/>
    <add key="ConnectToBasisDirectly" value ="true"/>

    <add key="DetailedLogging" value ="1"/>
    <add key="ErrorFolder" value ="C:\log\PinPADService\"/>

    <add key ="BypassTokenValidation" value="true"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="e_oneConnString" connectionString="Data Source=10.81.2.17;Initial Catalog=e_one;User ID=sa;Password=sapassword; pooling=false"
      providerName="System.Data.SqlClient"/>
    <add name="tokenConnString" connectionString="Data Source=10.81.2.17;Initial Catalog=e_one;User ID=sa;Password=sapassword; pooling=false"
      providerName="System.Data.SqlClient"/>
    <!--<add name="ACCESSMANGER" connectionString="Data Source=10.3.26.49;Initial Catalog=AccessManager;User ID=sa;Password=sapassword; pooling=false"
          providerName="System.Data.SqlClient"/>-->
    <add name="GTBWEBAPI" providerName="System.Data.SqlClient" connectionString="Data Source=10.3.26.49;Initial Catalog=GTWEBAPI;User ID=sa;Password=sapassword"/>
    
    
    <add name="AccessManagerConnString" connectionString="Data Source=10.3.26.49;Initial Catalog=ACCESSMANAGER;User ID=sa;Password=sapassword; pooling=false"
     providerName="System.Data.SqlClient"/>
	<add name="PurchasesConnString" connectionString="Data Source=10.0.6.164;Initial Catalog=Purchases;Persist Security Info=True;User ID=sa;Password=sapassword"/>
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--<webServices>
      <protocols>
        -->
    <!-- This will disable the automatically generated WSDL and test page for ASMX files. -->
    <!--
        <remove name="Documentation"/>
      </protocols>
    </webServices>-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="default.aspx"/>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="AppdevService.asmx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <!-- Disable WebServices Documentation -->
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="Test12C" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.0.6.220)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=BANKS.WORLD4))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>